# Development and runtime dependencies
black
ruff
pytest
python-dotenv
locust
PyJWT
httpx2

fastapi
uvicorn[standard]
python-multipart
pydantic-settings

numpy
opencv-python-headless==4.12.0.88

Pillow

scikit-learn